/* Botones */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  /* Formularios */
  input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }